<div class="main-wrapper">
  <div class="showcase">
    <div class="container showcase-inner">
      <div *ngFor="let pokemon of pokedex" class="content-display">
        <p>{{ pokemon.data.name }}</p>
        <img src="{{ pokemon.image_url }}" />
        <div *ngIf="inCatched(pokemon.data.name);else pokeBall">
          <img
          src="../../../assets/images/pokeball.png"
          style="width: 30px; height: 30px"
          />
        </div>
        <ng-template #pokeBall>
          <app-catch-button [pokemonId]="pokemon.data.name"></app-catch-button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
