.showcase {
    margin-top: 3rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(2, max-content);
    grid-gap: 2rem;
  }
  
  .header {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .content-display {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  
  .btn-grad {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }
  .btn-grad {
    margin: 8px;
    width: 10rem;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
 
  