<li *ngIf="pokemon">
  <div class="main-wrapper">
    <div class="showcase">
      <div class="container showcase-inner">
        <div class="content-display">
            <h1 class="font-bold text-3xl">{{pokemon}}</h1>
            <img
          src="../../../assets/images/pokeball.png"
          style="width: 30px; height: 30px"
          />
            <app-release-button></app-release-button>
        </div>
      </div>
    </div>
  </div>
</li>
