.showcase {
    margin-top: 3rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, max-content);
    grid-gap: 2rem;
  }
  
  .header {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .content-display {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }