<nav class="p-5 bg-black shadow md:flex md:items-center md:justify-between rounded-xl sticky top-0 w-full">
      <span class="text-2xl font-[Poppins] cursor-pointer">
        <img class="h-10 inline"
          src="../../../assets/images/pokeball.png" alt="poke">
        Pokemon Trainer
      </span>
      <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
          <li class="px-4">
             <a routerLink="/profile">Trainer</a>
          </li>
          <li class="px-4">
             <a routerLink="/catalogue">Pokemons</a>
          </li>
        </ul>
      </ng-container>
   

  </nav>
