<div class="login-box">
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <h2>Login</h2>
        <div class="user-box">
        <label for="username"></label>
        </div>
        <input type="text"
        ngModel
        #username="ngModel"
        name="username" id="username"
        class="border p-2 rounded w-full bg-slate-600"
        required=""
        placeholder="Enter username here please!">
    </fieldset>
    <button type="submit" class="bg-slate-600 p-2 rounded">Login</button>
</form>
</div>