
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(103, 95, 95, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(9, 5, 5);
    text-align: center;
    font-size:larger;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(30, 28, 28);
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(27, 24, 24);
    pointer-events: none;
    transition: 0.5s;
  }


  
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  button {
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  
  
  .login-box button span {
    position: absolute;
    display: block;
  }


  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  