/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #1187e1 0%, #9cb1d5 100%);
    color: aliceblue;
    font-family: "Inconsolata", monospace;
    line-height: 1.4;
}


